@charset "UTF-8";

.aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.103);
}

.aside ul{
    list-style-type: '\2714\00A0\00A0'; /*00A0 é um espaço*/
    list-style-position: inside;
    columns: 2;
}